<style>
	
</style>
<div class="uk-tile uk-tile-muted">
	<h2 class="uk-h2">Explore IMI</h2>
	<div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
	    <div>
	    	<a>
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title">About</h3>
		            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		        </div>
	    	</a>
	    </div>
	    <div>
	    	<a>
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title">Mission</h3>
		            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		        </div>
		    </a>
	    </div>
	    <div>
	    	<a>
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title">Vision</h3>
		            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		        </div>
		    </a>
	    </div>
	</div>
</div>
<div class="uk-tile uk-tile-muted">
	<h2 class="uk-h2">Services</h2>
	<div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
	    <div>
	    	<a>
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title">Executive Development Programmes</h3>
		            <p>In – house/ Tailor made and Public courses.</p>
		        </div>
	    	</a>
	    </div>
	    <div>
	    	<a href="#consultancy">
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title">Organisational Development Consulting</h3>
		            <p>Assisting organisations with various interventions.</p>
		        </div>
		    </a>
	    </div>
	</div>
</div>
<script>
	$(document).ready(function() {
	});
</script>