<style>
	
</style>
<div class="uk-tile uk-tile-muted">
	<h2 class="uk-h2">Courses</h2>
	<div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
	    <div>
	    	<a href="#courses/new">
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title">Add</h3>
		            <p>Add a course so that it appears on the website.</p>
		        </div>
	    	</a>
	    </div>
	    <div>
	    	<a href="#courses/edit">
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title">View/Edit/Delete</h3>
		            <p>View or make necessary changes to a course.</p>
		        </div>
		    </a>
	    </div>
	    <div></div>
	</div>
</div>
<script>
	$(document).ready(function() {
	});
</script>