<style>
	
</style>
<div class="uk-cover-container">
    <canvas width="" height="420"></canvas>
    <div class="uk-position-bottom uk-padding-small uk-text-left uk-light" style="z-index:1; width:100%;">
    	<h2 class="uk-h2 uk-margin-small">About Programmes</h2>
    </div>
    <img src="https://source.unsplash.com/random" alt="" uk-cover>
</div>

<div id="courses-types">
	<div id="in-house" class="uk-tile uk-tile-default">
		<div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
		    <div class="uk-padding-large uk-padding-remove-vertical">
		    	<h3 class="uk-h3 uk-text-bold">In-House Courses</h3>
			    <p>An In – house/ tailor made course is presented exclusively to delegates from your company. This allows for a large degree of customization.
			    </p>
		    </div>
		    <div class="uk-padding-large uk-padding-remove-vertical">
			    <dl class="uk-description-list uk-description-list-divider">
				    <dt>Fee</dt>
				    <dd>If more than 10 people attend, a substantial discount kicks in.</dd>
				    <dt>Location</dt>
				    <dd>You may prefer to move your staff from all work-related distractions which have a negative effect on their training. The course will run at a location that suits you (hotel/conference centre).</dd>
				    <dt>Date & Time</dt>
				    <dd>The course will run on a date that suits your companies’ and delegates’ schedules allowing for the least interference with work. Time will be arranged to suit your needs.</dd>
				    <dt>Content</dt>
				    <dd>The course content will be structured around your delegates’ needs. The case studies, examples and role plays will be relative to your company, market, delegates’ positions and departments.</dd>
				</dl>
			</div>
		</div>
	</div>
<!-- uk-padding-large uk-padding-remove-vertical uk-flex uk-flex-center uk-flex-middle -->
	<div id="public" class="uk-tile uk-tile-default">
		<div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
		    <div class="uk-padding-large uk-padding-remove-vertical">
		    	<h3 class="uk-h3 uk-text-bold">Public Courses</h3>
			    <p>(Small Explanation) Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			    	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		    </div>
		    <div class="uk-padding-large uk-padding-remove-vertical">
			    <p>This option works well if you have a small number of delegates that you would like to send on an intervention. A public course is also referred to as a scheduled course as it has a predetermined date. Please check the calendar as these are updated regularly!
			    </p>
			</div>
		</div>
	</div>
</div>

<div class="uk-tile uk-tile-muted uk-padding-remove-vertical">
	<div class="uk-height-medium uk-position-relative trapezoid">
		<div class="uk-position-absolute uk-position-center-right uk-light">
			<h2 class="uk-h2 uk-margin-remove uk-text-bold uk-overflow-hidden text-white">"</h2>
			<h4 class="testimony uk-h4 uk-margin-remove text-white">
				(Testimonial) Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident.
			</h4>
		</div>
		<button class="uk-button uk-button-primary uk-position-bottom-left uk-margin-small-left uk-margin-small-bottom" type="button">Enroll Now</button>
	</div>
</div>

<div class="uk-tile uk-tile-muted">
	<h2 class="uk-h2">More Information</h2>
	<div class="uk-grid-small uk-grid-match" uk-grid>
	    <div id="venue">
	    	<div>
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title">Venue</h3>
		            <p>All 3 weeks scheduled programmes are conducted in Manzini Swaziland. 1 week scheduled programmes can also be conducted in Windhoek Namibia and Durban South Africa and 2 weeks scheduled programmes can also be conducted in Durban South Africa. Please note: The Institute has the right to cancel programmes to be conducted outside Manzini Swaziland if the number of participants is less than ten (10). 4 weeks courses are conducted on request. Contact us for more information.</p>
		        </div>
	    	</div>
	    </div>
	    <div id="applications">
	    	<div>
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title">Applications</h3>
		            <p>Our courses are open to all individuals who qualify for nomination and funding from their employers and other sponsors or self sponsorship.  Participants/ Organisations may apply online or contact our office for registration or further information about the programmes. All courses are conducted in English and course profiles are provided on request by the prospective applicant(s).</p>
		        </div>
		    </div>
	    </div>
	</div>
</div>

<div class="uk-tile uk-tile-muted uk-cover-container">
	<img src="https://source.unsplash.com/random" alt="" uk-cover>
	<div class="uk-container uk-flex-center">
	    <div>
		     <div id="inquiries" class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title">Inquiries</h3>
		            <form>
					    <div class="uk-margin">
					        <div class="uk-width-1-1 uk-inline">
					            <span class="uk-form-icon" uk-icon="icon: user"></span>
					            <input class="uk-input" type="text" placeholder="Name">
					        </div>
					    </div>
					    <div class="uk-margin">
					        <div class="uk-width-1-1 uk-inline">
					            <span class="uk-form-icon" uk-icon="icon: mail"></span>
					            <input class="uk-input" type="text" placeholder="Email">
					        </div>
					    </div>
					    <div class="uk-margin">
				            <textarea class="uk-textarea" rows="5" style="resize:none;" placeholder="Write your message"></textarea>
				        </div>
				        <button class="uk-button uk-button-default">Send</button>
					</form>
		     </div>
	    </div>
	</div>
</div>
<script>
	$(document).ready(function() {
		if (target) {
			UIkit.scroll('#content', {offset: 50}).scrollTo('#' + target);
		}
		$("#fixed-button").text("Enroll Now");
		$("#fixed-button").removeAttr("uk-toggle");
		$("#fixed-button").click(function() {
			window.location.href = "#programmes";
		});
	});
</script>