<style>
	
</style>
<div class="uk-cover-container">
    <canvas width="" height="420"></canvas>
    <div class="uk-position-center uk-text-center uk-light" style="z-index:1; width:100%;">
    	<h4 class="uk-h4 uk-margin-remove-vertical uk-text-large pacifico">Immense Management Institute</h4>
    	<h5 class="uk-h5 uk-margin-small">The Best Place To Learn</h5>
    	<button class="uk-button uk-button-default">Enroll Now</button>
    </div>
    <img src="https://source.unsplash.com/random" alt="" uk-cover>
</div>
<div class="uk-tile uk-tile-muted">
	<h2 class="uk-h2">Explore IMI</h2>
	<div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
	    <div>
	    	<a>
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title">About</h3>
		            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		        </div>
	    	</a>
	    </div>
	    <div>
	    	<a>
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title">Mission</h3>
		            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		        </div>
		    </a>
	    </div>
	    <div>
	    	<a>
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title">Vision</h3>
		            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		        </div>
		    </a>
	    </div>
	</div>
</div>
<div class="uk-cover-container uk-height-large">
    <iframe src="https://www.youtube-nocookie.com/embed/c2pz2mlSfXA?autoplay=1&amp;controls=0&amp;showinfo=0&amp;rel=0&amp;loop=1&amp;modestbranding=1&amp;wmode=transparent" width="1920" height="1080" frameborder="0" allowfullscreen uk-cover></iframe>
    <div class="uk-height-1-1 uk-padding-large uk-position-center-left uk-text-center uk-light grad1" style="z-index:1;">
    	<h3 class="uk-h3 uk-margin-remove-vertical pacifico">Introducing</h3>
    	<h2 class="uk-h2 uk-margin-small pacifico">Online Classes</h2>
    	<button class="uk-button uk-button-default uk-button-large">Enroll Now</button>
    </div>
</div>
<div class="uk-tile uk-tile-muted">
	<h2 class="uk-h2">Services</h2>
	<div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
	    <div>
	    	<a>
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title">Executive Development Programmes</h3>
		            <p>In – house/ Tailor made and Public courses.</p>
		        </div>
	    	</a>
	    </div>
	    <div>
	    	<a href="#consultancy">
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title">Organisational Development Consulting</h3>
		            <p>Assisting organisations with various interventions.</p>
		        </div>
		    </a>
	    </div>
	</div>
</div>
<div class="uk-position-relative uk-child-width-1-2@m uk-grid-small uk-padding-large uk-padding-remove-vertical uk-margin-large uk-margin-remove-adjacent" uk-grid>
	<img class="" src="img-01.jpg" alt="" uk-img>
    <div class="uk-padding-large">
            <div class="section-label reveal uk-visible@m" data-sr-id="2" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; max-width:200px; word-break:break-all; color:black;">
                <p style="height:100%;">Coworking</p>
            </div>
            <div class="col-md-offset-6 text-column">
                <h2>Dui augue orci</h2>
                <h3>Lorem ipsum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit. Nam eu laoreet velit. Vivamus laoreet, sem nec scelerisque
                    elementum, dui augue aliquet urna, ut bibendum purus erat ut massa. Mauris diam orci, feugiat a turpis
                    et, congue accumsan risus. Nulla malesuada leo sodales, auctor augue quis, condimentum lacus. Phasellus
                    sed sollicitudin quam, a bibendum urna.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus «
                    ut lacus » tellus. In pretium lobortis blandit.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet consectetur dolor. Phasellus ut
                    lacus tellus. In pretium lobortis blandit.</p>
            </div>
    </div>
</div>
<div class="uk-tile uk-tile-muted uk-cover-container">
	<img src="https://source.unsplash.com/random" alt="" uk-cover>
	<div class="uk-container uk-flex-center">
	    <div>
		     <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title">Get in Touch</h3>
		            <form>
					    <div class="uk-margin">
					        <div class="uk-width-1-1 uk-inline">
					            <span class="uk-form-icon" uk-icon="icon: user"></span>
					            <input class="uk-input" type="text" placeholder="Name">
					        </div>
					    </div>
					    <div class="uk-margin">
					        <div class="uk-width-1-1 uk-inline">
					            <span class="uk-form-icon" uk-icon="icon: mail"></span>
					            <input class="uk-input" type="text" placeholder="Email">
					        </div>
					    </div>
					    <div class="uk-margin">
				            <textarea class="uk-textarea" rows="5" style="resize:none;" placeholder="Write your message"></textarea>
				        </div>
				        <button class="uk-button uk-button-default">Send</button>
					</form>
		     </div>
	    </div>
	</div>
</div>
<script>
	$(document).ready(function() {
		$("#fixed-button").text("Enroll Now");
		$("#fixed-button").removeAttr("uk-toggle");
		$("#fixed-button").click(function() {
			window.location.href = "#programmes";
		});
	});
</script>