<style>
	
</style>
<div class="uk-cover-container">
    <canvas width="" height="420"></canvas>
    <div class="uk-position-bottom uk-padding-small uk-text-left uk-light" style="z-index:1; width:100%;">
    	<h2 class="uk-h2 uk-margin-small">Relevant Information</h2>
    </div>
    <img src="https://source.unsplash.com/random" alt="" uk-cover>
</div>

<div id="tuition" class="uk-tile uk-tile-default">
	<div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
	    <div class="uk-padding-large uk-padding-remove-vertical">
	    	<h3 class="uk-h3 uk-text-bold">Tuition Fees</h3>
		    <table class="uk-table uk-table-divider">
			    <thead>
			    	<caption>Payable in US Dollars or other equivalent convertible currencies.</caption>
			        <tr>
			            <th>Duration</th>
			            <th>Cost (USD)</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr>
			            <td>1 week</td>
			            <td>$2,400.00</td>
			        </tr>
			        <tr>
			            <td>2 weeks</td>
			            <td>$3,200.00</td>
			        </tr>
			        <tr>
			            <td>3 weeks</td>
			            <td>$3,900.00</td>
			        </tr>
			    </tbody>
			</table>
	    </div>
	    <div class="uk-padding-large uk-padding-remove-vertical uk-flex uk-flex-center uk-flex-middle" style="background-color:#fff;">
		    <p>These amounts cover a student's pass, programme materials, stationery, a take home laptop computer and a color printer or a Samsung Galaxy 10.1" Tablet, a flash drive, excursions, refreshments and lunch. Please note: Programme fees and dates are subject to change.</p>
		</div>
	</div>
</div>

<!-- <div class="uk-tile uk-tile-default">
	<div class="uk-cover-container uk-height-large" style="background-color:#bd9c63;">
		<div class="uk-position-medium uk-position-cover uk-overlay uk-overlay-primary uk-flex uk-flex-center uk-flex-middle text-white" style="background-color:rgba(165,41,41, 0.8);">
			<div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
			    <div class="uk-padding-large uk-padding-remove-vertical">
			    	<h3 class="uk-h3 uk-text-bold">Tuition Fees</h3>
				    <table class="uk-table uk-table-divider">
					    <thead>
					    	<caption>Payable in US Dollars or other equivalent convertible currencies.</caption>
					        <tr>
					            <th>Duration</th>
					            <th>Cost (USD)</th>
					        </tr>
					    </thead>
					    <tbody>
					        <tr>
					            <td>1 week</td>
					            <td>$2,400.00</td>
					        </tr>
					        <tr>
					            <td>2 weeks</td>
					            <td>$3,200.00</td>
					        </tr>
					        <tr>
					            <td>3 weeks</td>
					            <td>$3,900.00</td>
					        </tr>
					    </tbody>
					</table>
			    </div>
			    <div class="uk-padding-large uk-padding-remove-vertical">
				    <p class="uk-flex uk-flex-center uk-flex-middle">These amounts covers a student's pass, programme materials, stationery, a take home laptop computer and a color printer or a Samsung Galaxy 10.1" Tablet, a flash drive, excursions, refreshments and lunch. Please note: Programme fees and dates are subject to change.</p>
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="uk-tile uk-tile-muted uk-padding-remove-vertical">
	<div class="uk-height-medium uk-position-relative trapezoid">
		<div class="uk-position-absolute uk-position-center-right uk-light">
			<h2 class="uk-h2 uk-margin-remove uk-text-bold uk-overflow-hidden text-white">"</h2>
			<h4 class="testimony uk-h4 uk-margin-remove text-white">
				(Testimonial) Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident.
			</h4>
		</div>
		<button class="uk-button uk-button-primary uk-position-bottom-left uk-margin-small-left uk-margin-small-bottom" type="button">Enroll Now</button>
	</div>
</div>

<div class="uk-tile uk-tile-muted">
	<h2 class="uk-h2">Relevant Information</h2>
	<div class="uk-grid-small uk-grid-match" uk-grid>
	    <div id="accommodation">
	    	<div>
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title">Accommodation</h3>
		            <p>We organise and arrange accommodation to suit the needs of various delegates. We are associated with reputable hotels and guest houses to provide a good bed & breakfast accommodation at discounted rates. <a href="#inquiries" uk-scroll>Contact us</a> for rates.</p>
		        </div>
	    	</div>
	    </div>
	    <div id="transport">
	    	<div>
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title">Transport</h3>
		            <p>Our vehicles provide free transport during excursions and hospitality tours, to and from the Airport, to and from the lecture venues if this is not practically feasible within a walking distance.</p>
		        </div>
		    </div>
	    </div>
	    <div id="travel-visas-pass">
	    	<div>
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title">Travel, Visas and Student's Pass</h3>
		            <p>All course delegates attending a training in Swaziland require a student's pass (visa). This takes a day to be processed at a cost that is included in the tuition fee and it is processed before course delegate(s) arrives in Swaziland. All public/ scheduled programmes include hospitality tours within Mozambique, Namibia, South Africa or Swaziland. These countries are visa free for Tanzania Citizens. We advise all delegates from other countries to consult the respective embassies in their home countries for visa formalities before leaving for Swaziland.</p>
		        </div>
		    </div>
	    </div>
	    <div id="living-expenses">
	    	<div>
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title">Living Expenses</h3>
		            <p>The official currency in Swaziland is a Swazi Lilangeni (SZL) which is an equivalent to a South African Rand (ZAR). The South African currency is also used in Swaziland. People coming to Swaziland from overseas generally find the cost of living comparatively low due to the depreciated local currency. Restaurant prices vary depending on the type of establishment. A good meal for one at an average restaurant costs around R150, top category establishments can cost up to R200. These prices are based on one course and a soft drink or a beer. However, hotels and restaurants charge tax in addition to the prices shown for meals and accommodation. Although most prices are tax inclusive, services are also subject to VAT at a rate of 15%.</p>
		        </div>
	    	</div>
	    </div>
	    <div id="weather">
	    	<div>
		        <div class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title">Weather</h3>
		            <p>Climate in Swaziland varies according to altitude, with the higher areas being generally cloudy and cooler than the rest of Swaziland. The rainy season is generally between November and April and is also humid and wet (Summer). And the cooler, drier conditions are generally between May and October (Winter).</p>
		        </div>
	    	</div>
	    </div>
	</div>
</div>

<div class="uk-tile uk-tile-muted uk-cover-container">
	<img src="https://source.unsplash.com/random" alt="" uk-cover>
	<div class="uk-container uk-flex-center">
	    <div>
		     <div id="inquiries" class="uk-card uk-card-default uk-card-body">
		            <h3 class="uk-card-title">Inquiries</h3>
		            <form>
					    <div class="uk-margin">
					        <div class="uk-width-1-1 uk-inline">
					            <span class="uk-form-icon" uk-icon="icon: user"></span>
					            <input class="uk-input" type="text" placeholder="Name">
					        </div>
					    </div>
					    <div class="uk-margin">
					        <div class="uk-width-1-1 uk-inline">
					            <span class="uk-form-icon" uk-icon="icon: mail"></span>
					            <input class="uk-input" type="text" placeholder="Email">
					        </div>
					    </div>
					    <div class="uk-margin">
				            <textarea class="uk-textarea" rows="5" style="resize:none;" placeholder="Write your message"></textarea>
				        </div>
				        <button class="uk-button uk-button-default">Send</button>
					</form>
		     </div>
	    </div>
	</div>
</div>
<script>
	$(document).ready(function() {
		if (target) {
			UIkit.scroll('#content', {offset: 50}).scrollTo('#' + target);
		}
		$("#fixed-button").text("Enroll Now");
		$("#fixed-button").removeAttr("uk-toggle");
		$("#fixed-button").click(function() {
			window.location.href = "#programmes";
			try {
				applyCourse();
			}catch (e) {
				console.log(e);
			}
		});
	});
</script>

<script src="../js/programme.js"></script>