<div class="uk-tile uk-padding-large uk-padding-remove-top uk-margin-small-top">
	<ul id="switcher-nav" class="uk-subnav uk-subnav-pill" uk-switcher="animation: uk-animation-fade">
	    <li><a href="#">Management</a></li>
	    <li><a href="#">Human Resources</a></li>
	    <li><a href="#">Information Systems</a></li>
	    <li><a href="#">Environmental Awareness</a></li>
	    <li><a href="#">Public Finance</a></li>
	    <li><a href="#">Health Management</a></li>
	</ul>

	<ul id="switcher" class="uk-switcher uk-margin">
	    <li id="management">
	    	<table class="uk-table uk-table-divider uk-table-hover uk-table-responsive">
				<caption>MANAGEMENT DEVELOPMENT PROGRAMMES</caption>
				<thead> 
					<tr>
						<th>CODE</th>
						<th>NAME</th>
						<th>DURATION</th>
						<th>DATES</th>
						<th>APPLY</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>PA– 11</td>
						<td>Pension Fund Research Strategies</td>
						<td>2 Weeks</td>
						<td>04 Feb – 15 Feb&nbsp;<br>24 Jun – 05 July<br>07 Oct – 18 Oct</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PA– 12</td>
						<td>Understanding The Contract Law</td>
						<td>1 Week</td>
						<td>07 Jan – 11 Jan<br>05 Aug – 09 Aug&nbsp;<br>04 Nov – 08 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PA– 13</td>
						<td>Pension Fund and Social Securities Perspectives</td>
						<td>1 Week</td>
						<td>04 Feb – 08 Feb<br>24 Jun – 28 Jun<br>07 Oct – 11 Oct</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>
						<p>PA– 14</p>
						</td>
						<td>
						<p><span>Structuring and Negotiating Legal Agreements for<br></span>Public-Private&nbsp;<span>Partnership Concession and Contracts</span></p>
						</td>
						<td>2 Weeks</td>
						<td>18 Feb – 01 Mar<br>02 Sep – 13 Sep<br>18 Nov – 29 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PA– 15</td>
						<td>Project Management for Non – Project Managers</td>
						<td>2 Weeks</td>
						<td>25 Feb – 08 Mar<br>24 Jun – 05 July&nbsp;<br>23 Sep – 04 Oct</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PA– 16</td>
						<td>Managing Donor Funded Projects</td>
						<td>2 Weeks</td>
						<td>
						<p>18 Feb – 01 Mar<br>02 Sep – 13 Sep<br>18 Nov – 29 Nov</p>
						</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>
						<p>PA– 17</p>
						</td>
						<td>
						<p><span>Planning, Measuring and Managing Contingent Liabilities and<br></span>Government Risks in PPP</p>
						</td>
						<td>2 Weeks</td>
						<td>06 May – 17 May<br>02 Sep – 13 Sep<br>25 Nov – 06 Dec</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PA– 18</td>
						<td>Project Management for Engineers, Architects and Quality Surveyors</td>
						<td>2 Weeks</td>
						<td>06 May – 17 May<br>12 Aug – 23 Aug<br>28 Oct – 08 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PA– 19</td>
						<td>Road and Traffic Safety Planning and Management</td>
						<td>3 Weeks</td>
						<td>
						<p>22 Apr – 10 May<br>24 Jun – 12 July<br>16 Sep – 04 Oct</p>
						</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PA– 20</td>
						<td>Marketing Communication and&nbsp;Strategy Development</td>
						<td>1 Week</td>
						<td>06 May – 10 May<br>26 Aug – 30 Aug<br>18 Nov – 22 Nov<br></td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PA– 21</td>
						<td>Middle Management Development</td>
						<td>2 Weeks</td>
						<td>06 May – 17 May<br>02 Sep – 13 Sep<br>25 Nov – 06 Dec</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PA– 22</td>
						<td>Pre-Retirement - Managing A New Beginning</td>
						<td>2 Weeks</td>
						<td>07 Jan – 18 Jan<br>05 Aug – 16 Aug<br>04 Nov – 15 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>
						<p>PA– 23</p>
						</td>
						<td>
						<p><span>Project Screening and Appraisal Techniques: Developing<br></span>Fiscally Viable Infrastructure Investments (PPP)</p>
						</td>
						<td>2 Weeks</td>
						<td>25 Feb – 08 Mar<br>24 Jun – 05 July&nbsp;<br>23 Sep – 04 Oct</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PA- 24</td>
						<td>The Executive&nbsp;Secretary</td>
						<td>2 Weeks</td>
						<td>21 Jan – 01 Feb<br>12 Aug – 23 Aug<br>04 Nov – 15 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>
						<p>PA– 25</p>
						</td>
						<td>
						<p><span>Corporate Governance and Social Responsibility Strategies<br></span>for Public-Private Partnership Enterprises</p>
						</td>
						<td>2 Weeks</td>
						<td>25 Feb – 08 Mar<br>24 Jun – 05 July&nbsp;<br>23 Sep – 04 Oct</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>
						<p>PA– 26</p>
						</td>
						<td>
						<p><span>Corporate Governance, Change Management and<br></span>Organisational Development</p>
						</td>
						<td>3 Weeks</td>
						<td>21 Jan – 08 Feb<br>05 Aug – 23 Aug<br>21 Oct – 08 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>
						<p>PA– 27</p>
						</td>
						<td>
						<p><span>Designing Legislative, Institutional and Regulatory Framework<br></span>for Successful Public-Private Partnerships</p>
						</td>
						<td>2 Weeks</td>
						<td>25 Feb – 08 Mar<br>24 Jun – 05 July&nbsp;<br>23 Sep – 04 Oct</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PA– 28</td>
						<td>Advanced Supervisory Management</td>
						<td>2 Weeks</td>
						<td>04 Mar – 15 Mar<br>01 July – 12 July<br>23 Sep – 04 Oct</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PA– 29</td>
						<td>Customer Care and Corporate Image &nbsp;<br>Management</td>
						<td>2 Weeks</td>
						<td>25 Feb – 08 Mar<br>24 Jun – 05 July&nbsp;<br>23 Sep – 04 Oct</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PA– 30</td>
						<td>Supervisory and Operations Management</td>
						<td>2 Weeks</td>
						<td>04 Mar – 15 Mar<br>01 July – 12 July<br>23 Sep – 04 Oct</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PA– 31</td>
						<td>Public - Private Partnership Leadership</td>
						<td>1&nbsp;Week</td>
						<td>22 Apr – 26 Apr<br>19 Aug – 23 Aug<br>11 Nov – 15 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PA– 32</td>
						<td>Public Relations Management</td>
						<td>2 Weeks</td>
						<td>25 Feb – 08 Mar<br>24 Jun – 05 July&nbsp;<br>23 Sep – 04 Oct</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PA– 33</td>
						<td>Public-Private Partnership Modeling for Transport Projects</td>
						<td>2 Weeks</td>
						<td>25 Feb – 08 Mar<br>24 Jun – 05 July&nbsp;<br>23 Sep – 04 Oct</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PA– 34</td>
						<td>Protocol and Foreign Relations</td>
						<td>3 weeks</td>
						<td>07 Jan – 25 Jan<br>19 Aug – 06 Sep<br>04 Nov – 22 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>
						<p>PA– 35</p>
						</td>
						<td>
						<p><span>Public-Private Partnership Strategies, Methods and<br></span>Projects Structuring Techniques</p>
						</td>
						<td>2 weeks</td>
						<td>22 Apr – 03 May<br>19 Aug – 30 Aug<br>04 Nov – 15 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PA– 36</td>
						<td>Ports and Harbour Management</td>
						<td>3 weeks</td>
						<td>06 May – 24 May<br>26 Aug – 13 Sep<br>04 Nov – 22 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>
						<p>PA– 37</p>
						</td>
						<td>
						<p><span>Measuring and Assessing Value for Money (VFM)<br></span>for Public Investments in Infrastructure (PPP)</p>
						</td>
						<td>2 Weeks</td>
						<td>25 Feb – 08 Mar<br>24 Jun – 05 July&nbsp;<br>23 Sep – 04 Oct</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td height="19">PA–&nbsp;38</td>
						<td>Advanced Transport Management</td>
						<td>2 Weeks</td>
						<td>21 Jan – 01 Feb<br>19 Aug – 30 Aug<br>04 Nov – 15 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
				</tbody>
			</table>
	    </li>
	    <li id="hr">
	    	<table class="uk-table uk-table-divider uk-table-hover uk-table-responsive">
				<caption>HUMAN RESOURCES DEVELOPMENT PROGRAMMES</caption>
				<thead>
					<tr>
						<th>CODE</th>
						<th>NAME</th>
						<th>DURATION</th>
						<th>DATES</th>
						<th>APPLY</th>
					</tr>
				</thead> 
				<tbody>
					<tr>
						<td>
						<p>HR - 11</p>
						</td>
						<td>
						<p>The PPP Cycle: Contract Procurement, Implementation, &nbsp;<br>Performance Monitoring and Conflict Resolution</p>
						</td>
						<td>2 Weeks</td>
						<td>04 Mar – 15 Mar&nbsp;<br>24 Jun – 05 July<br>07 Oct – 18 Oct</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>HR - 12</td>
						<td>Management of the Training Function in An Organisation</td>
						<td>1 Week</td>
						<td>04 Mar – 08 Mar&nbsp;<br>24 Jun – 28 Jun<br>07 Oct – 11 Oct</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>HR - 13</td>
						<td>Arbitration and Labour Relations Management</td>
						<td>2 Weeks</td>
						<td>22 Apr – 03 May<br>19 Aug – 30 Aug&nbsp;<br>04 Nov – 15 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>HR - 14</td>
						<td>HR Information Systems Management</td>
						<td>2 weeks</td>
						<td>22 Apr – 03 May<br>19 Aug – 30 Aug<br>04 Nov – 15 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>HR - 15</td>
						<td>Gender Mainstreaming in HR Development</td>
						<td>2 weeks</td>
						<td>04 Mar – 15 Mar&nbsp;<br>24 Jun – 05 July<br>07 Oct – 18 Oct</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>HR - 16</td>
						<td>Vocational Training Skills Development</td>
						<td>2 Weeks</td>
						<td>04 Mar – 15 Mar&nbsp;<br>24 Jun – 05 July<br>07 Oct – 18 Oct</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>HR - 17</td>
						<td>Compensation and Remunerations Management</td>
						<td>2 Weeks</td>
						<td>22 Apr – 03 May<br>19 Aug – 30 Aug<br>04 Nov – 15 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>HR - 18</td>
						<td>Workforce Planning Strategies</td>
						<td>1 Week</td>
						<td>22 Apr – 26 Apr&nbsp;<br>02 Sep – 06 Sep<br>02 Dec – 06 Dec</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>HR - 19</td>
						<td>Practical Performance Management - Supporting Good Practice</td>
						<td>1 week</td>
						<td>22 Apr – 26 Apr<br>19 Aug – 23 Aug<br>04 Nov – 08 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
				</tbody>
			</table>
	    </li>
	    <li id="is">
	    	<table class="uk-table uk-table-divider uk-table-hover uk-table-responsive">
				<caption>INFORMATION SYSTEMS MANAGEMENT PROGRAMMES</caption>
				<thead>
					<tr>
						<th>CODE</th>
						<th>NAME</th>
						<th>DURATION</th>
						<th>DATES</th>
						<th>APPLY</th>
					</tr>
				</thead> 
				<tbody>
					<tr>
						<td>IS - 11</td>
						<td>Wireless Computer Networks and <br>Server Management</td>
						<td>1 Week</td>
						<td>25 Feb – 01 Mar&nbsp;<br>24 Jun – 28 Jun<br>23 Sep – 27 Sep</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>IS - 12</td>
						<td>Registry and Electronic Records Management</td>
						<td>2 Weeks</td>
						<td>22 Apr – 03 May<br>12 Aug – 23 Aug<br>04 Nov – 15 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>IS - 13</td>
						<td>Computer Networking and Information <br>Systems Management</td>
						<td>2 Weeks</td>
						<td>06 May – 17 May<br>26 Aug – 06 Sep<br>11 Nov – 22 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>IS - 14</td>
						<td>Research and Information Systems <br>Management</td>
						<td>2 Weeks</td>
						<td>06 May – 17 May<br>26 Aug – 06 Sep<br>11 Nov – 22 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>IS - 15</td>
						<td>Advanced Electronic Records <br>Management</td>
						<td>2 Weeks</td>
						<td>22 Apr – 03 May<br>12 Aug – 23 Aug&nbsp;<br>04 Nov – 15 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>IS - 16</td>
						<td>AutoCAD 3D for Engineers and Architects</td>
						<td>3 Weeks</td>
						<td>25 Feb – 15 Mar&nbsp;<br>24 Jun – 12 July<br>23 Sep – 11 Oct</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>IS - 17</td>
						<td>Project Information Systems Management</td>
						<td>1 Week</td>
						<td>18 Feb – 22 Feb<br>26 Aug – 30 Aug&nbsp;<br>04 Nov – 08 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>IS - 18</td>
						<td>ICT for Education Management</td>
						<td>2 Weeks</td>
						<td>22 Apr – 03 May<br>12 Aug – 23 Aug<br>04 Nov – 15 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>
						<p>IS - 19</p>
						</td>
						<td>
						<p>Public-Private Partnership Project Mobilisation and<br>Advanced Project Modeling (Ms Project)</p>
						</td>
						<td>2 Weeks</td>
						<td>18 Feb – 01 Mar<br>26 Aug – 06 Sep&nbsp;<br>04 Nov – 15 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>IS - 20</td>
						<td>
						<p>Computer Forensics and Systems Networks Security</p>
						</td>
						<td>3 Weeks</td>
						<td>06 May – 24 May&nbsp;<br>26 Aug – 13 Sep<br>11 Nov – 29 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
				</tbody>
			</table>
	    </li>
	    <li id="ev">
	    	<table class="uk-table uk-table-divider uk-table-hover uk-table-responsive">
				<caption>ENVIRONMENTAL AND AGRICULTURAL PROGRAMMES</caption>
				<thead>
					<tr>
						<th>CODE</th>
						<th>NAME</th>
						<th>DURATION</th>
						<th>DATES</th>
						<th>APPLY</th>
					</tr>
				</thead> 
				<tbody>
					<tr>
						<td>E - 11</td>
						<td>Geographic Information Systems and Remote Sensing</td>
						<td>2 Weeks</td>
						<td>25 Feb – 08 Mar<br>24 Jun – 05 July<br>07 Oct – 18 Oct</td>
						<td>%20Private%20Sector%20Involvement<a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>E - 12</td>
						<td>Integrated Water Resources Management</td>
						<td>3 Weeks</td>
						<td>25 Feb – 15 Mar<br>24 Jun – 12 July<br>23 Sep – 11 Oct</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>
						<p>E - 13</p>
						</td>
						<td>
						<p>Clean Energy Supply Growth and Sustainability Policies,&nbsp;<br>Regulations and Public-Private Partnership Opportunities</p>
						</td>
						<td>2 Weeks</td>
						<td>25 Feb – 08 Mar<br>24 Jun – 05 July<br>07 Oct – 18 Oct</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>E - 14</td>
						<td>Agriculture Co - Operatives Development</td>
						<td>2 Weeks</td>
						<td>22 Apr – 03 May<br>19 Aug – 30 Aug<br>04 Nov – 15 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>
						<p>E - 15</p>
						</td>
						<td>
						<p>Public-Private Partnership - Improving Performance of<br>Irrigation Services Provision</p>
						</td>
						<td>2 Weeks</td>
						<td>25 Feb – 08 Mar<br>24 Jun – 05 July<br>07 Oct – 18 Oct</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>E - 16</td>
						<td>Environmental Impact Assessment</td>
						<td>3 Weeks</td>
						<td>06 May – 24 May<br>26 Aug – 13 Sep<br>11 Nov – 29 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>E - 17</td>
						<td>Agriculture Research Management</td>
						<td>3 Weeks</td>
						<td>06 May – 24 May<br>26 Aug – 13 Sep<br>11 Nov – 29 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>E - 18</td>
						<td>Crops and Invasive Plants Management</td>
						<td>3 Weeks</td>
						<td>06 May – 24 May<br>26 Aug – 13 Sep<br>11 Nov – 29 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>E - 19</td>
						<td>Participatory Monitoring and Evaluation</td>
						<td>3 Weeks</td>
						<td>06 May – 24 May<br>26 Aug – 13 Sep<br>11 Nov – 29 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>E - 20</td>
						<td>Water Quality Assessment</td>
						<td>2 Weeks</td>
						<td>25 Feb – 08 Mar<br>24 Jun – 05 July<br>07 Oct – 18 Oct</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>E - 21</td>
						<td>Fisheries and Marine Project Management</td>
						<td>3 Weeks</td>
						<td>22 Apr – 10 May<br>12 Aug – 30 Aug<br>04 Nov – 22 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>E - 22</td>
						<td>Irrigation and Alternative Crop Production Management</td>
						<td>3 weeks</td>
						<td>06 May – 24 May<br>26 Aug – 13 Sep<br>11 Nov – 29 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>E - 23</td>
						<td>Water Demand Management</td>
						<td>3 Weeks</td>
						<td>25 Feb – 15 Mar<br>24 Jun – 12 July<br>07 Oct – 25 Oct</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>E - 24</td>
						<td>Participatory Extension Approach and Rural Development Strategies</td>
						<td>3 Weeks</td>
						<td>06 May – 24 May<br>26 Aug – 13 Sep<br>11 Nov – 29 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>E - 25</td>
						<td>Integrated Solid Waste Management</td>
						<td>3 Weeks</td>
						<td>21 Jan – 08 Feb<br>05 Aug – 23 Aug<br>04 Nov – 22 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
				</tbody>
			</table>
		</li>
	    <li id="finance">
	    	<table class="uk-table uk-table-divider uk-table-hover uk-table-responsive">
				<caption>PUBLIC FINANCE PROGRAMMES</caption>
				<thead> 
					<tr>
						<th>CODE</th>
						<th>NAME</th>
						<th>DURATION</th>
						<th>DATES</th>
						<th>APPLY</th>
					</tr>
				</thead> 
				<tbody>
					<tr>
						<td>PF - 11</td>
						<td>Introduction Public-Private Partnership Finance</td>
						<td>2 Weeks</td>
						<td>25 Feb – 08 Mar<br>24 Jun – 05 July<br>07 Oct – 18 Oct</td>
						<td>%20Accounting,<a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PF - 12</td>
						<td>Advanced Forensic Auditing</td>
						<td>3 Weeks</td>
						<td>22 Apr – 10 May<br>12 Aug – 30 Aug<br>04 Nov – 22 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PF - 13</td>
						<td>Microfinance Management</td>
						<td>1 Week</td>
						<td>22 Apr – 26 Apr<br>24 Jun – 28 Jun<br>07 Oct – 11 Oct</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PF - 14</td>
						<td>Donor Fund Financial Management</td>
						<td>2 Weeks</td>
						<td>18 Feb – 01 Mar<br>26 Aug – 06 Sep&nbsp;<br>04 Nov – 15 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PF - 15</td>
						<td>
						<p>IFRS Disclosure and Presentation Requirements</p>
						</td>
						<td>2 Weeks</td>
						<td>25 Feb – 08 Mar<br>24 Jun – 05 July<br>07 Oct – 18 Oct</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PF - 16</td>
						<td>Managing the Audit Function</td>
						<td>2 Weeks</td>
						<td>06 May – 17 May<br>02 Sep – 13 Sep<br>18 Nov – 29 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PF - 17</td>
						<td>Water Organisations Financial Management</td>
						<td>2 Weeks</td>
						<td>25 Feb – 08 Mar<br>24 Jun – 05 July<br>07 Oct – 18 Oct</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PF - 18</td>
						<td>Corporate Financial Management</td>
						<td>2 Weeks</td>
						<td>25 Feb – 08 Mar<br>24 Jun – 05 July<br>07 Oct – 18 Oct</td>
						<td>%20Planning<a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PF - 19</td>
						<td>Operational Risk Management for Microfinance Institutions</td>
						<td>1 Week</td>
						<td>14 Jan – 18 Jan<br>26 Aug – 30 Aug<br>04 Nov – 08 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PF - 20</td>
						<td>Prevention and Detection of Fraud</td>
						<td>2 Weeks</td>
						<td>22 Apr – 03 May<br>12 Aug – 23 Aug<br>04 Nov – 15 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PF - 21</td>
						<td>Risk and Credit Management</td>
						<td>2 Weeks</td>
						<td>25 Feb – 08 Mar<br>24 Jun – 05 July<br>07 Oct – 18 Oct</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PF - 22</td>
						<td>Revenue and Tax Administration Strategies</td>
						<td>2 Weeks</td>
						<td>06 May – 17 May<br>02 Sep – 13 Sep<br>18 Nov – 29 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PF - 23</td>
						<td>Product Development for Microfinance Institutions</td>
						<td>1 Week</td>
						<td>06 May – 10 May<br>26 Aug – 30 Aug<br>11 Nov – 15 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PF - 24</td>
						<td>International Public Sector Accounting Standards (IPSAS)</td>
						<td>2 Week</td>
						<td>25 Feb – 08 Mar<br>24 Jun – 05 July<br>07 Oct – 18 Oct</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PF - 25</td>
						<td>Internal Audit Management</td>
						<td>2 Weeks</td>
						<td>06 May – 17 May<br>02 Sep – 13 Sep<br>18 Nov – 29 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PF - 26</td>
						<td>Auditing Donor Funded Projects</td>
						<td>2 Weeks</td>
						<td>06 May – 17 May<br>02 Sep – 13 Sep<br>18 Nov – 29 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PF - 27</td>
						<td>Improving Operating Efficiencies in MFIs</td>
						<td>1 Week</td>
						<td>
						<p>18 Feb – 22 Feb<br>26 Aug – 30 Aug<br>04 Nov – 08 Nov</p>
						</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>PF - 28</td>
						<td>Investment Management</td>
						<td>2 Weeks</td>
						<td>
						<p>04 Feb – 15 Feb<br>24 Jun – 05 July<br>07 Oct – 18 Oct</p>
						</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
				</tbody>
			</table>
	    </li>
	    <li id="health">
	    	<table class="uk-table uk-table-divider uk-table-hover uk-table-responsive">
				<caption>HEALTH MANAGEMENT PROGRAMMES</caption>
				<thead>
					<tr>
						<th>CODE</th>
						<th>NAME</th>
						<th>DURATION</th>
						<th>DATES</th>
						<th>APPLY</th>
					</tr>
				</thead> 
				<tbody>
					<tr>
						<td>H - 11</td>
						<td>Monitoring and Evaluation for Health Social Development</td>
						<td>2 Weeks</td>
						<td>25 Feb – 08 Mar<br>24 Jun – 05 July<br>07 Oct – 18 Oct</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>H - 12</td>
						<td>Management for Health Care Providers</td>
						<td>3 Weeks</td>
						<td>22 Apr – 10 May<br>12 Aug – 30 Aug<br>04 Nov – 22 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>H - 13</td>
						<td>Public Health Management <br>and Policy Development</td>
						<td>3 Weeks</td>
						<td>25 Feb – 15 Mar<br>24 Jun – 12 July<br>07 Oct – 25 Oct</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>H - 14</td>
						<td>Reproductive Health and HIV/Aids</td>
						<td>3 Weeks</td>
						<td>07 Jan – 25 Jan<br>05 Aug – 23 Aug<br>04 Nov – 22 Nov</td>
						<td>%20impact<a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>H - 15</td>
						<td>Health Information Systems Management</td>
						<td>2 Weeks</td>
						<td>18 Feb – 01 Mar<br>26 Aug – 06 Sep<br>04 Nov – 15 Nov<br></td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>H - 16</td>
						<td>Design and Implementation of <br>Workplace HIV and Aids Intervention</td>
						<td>3 Weeks</td>
						<td>07 Jan – 25 Jan<br>05 Aug – 23 Aug<br>04 Nov – 22 Nov</td>
						<td>%20Implementation%20of%20Workplace<a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>H - 17</td>
						<td>Social and Primary Health Care Management</td>
						<td>3 Weeks</td>
						<td>22 Apr – 10 May<br>12 Aug – 30 Aug<br>04 Nov – 22 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>H - 18</td>
						<td>Occupational Health and Safety</td>
						<td>2 Weeks</td>
						<td>06 May – 17 May<br>02 Sep – 13 Sep<br>18 Nov – 29 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>H - 19</td>
						<td>Disease Monitoring and Evaluation</td>
						<td>3 Weeks</td>
						<td>22 Apr – 10 May<br>12 Aug – 30 Aug<br>04 Nov – 22 Nov</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
					<tr>
						<td>H - 20</td>
						<td>Communicable Disease Control</td>
						<td>3 Weeks</td>
						<td>06 May – 24 May<br>02 Sep – 20 Sep<br>18 Nov – 06 Dec</td>
						<td><a class="application-link" href="#application-modal" uk-toggle>Apply</a></td>
					</tr>
				</tbody>
			</table>
	    </li>
	</ul>
</div>

<!-- This is the modal -->
<div id="application-modal" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    	<button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">Study with Us</h2>
        <form>
        	<div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
				<div class="">
					<label class="uk-form-label" for="">Name</label>
					<div class="uk-inline">
					    <span class="uk-form-icon" uk-icon="icon: user"></span>
					    <input class="uk-input" type="text" placeholder="Name">
					</div>
				</div>
				<div class="">
					<label class="uk-form-label" for="">Phone</label>
					<div class="uk-inline">
					    <span class="uk-form-icon" uk-icon="icon: receiver"></span>
					    <input class="uk-input" type="text" placeholder="Phone">
					</div>
				</div>
				<div class="">
					<label class="uk-form-label" for="">Email</label>
					<div class="uk-inline">
					    <span class="uk-form-icon" uk-icon="icon: mail"></span>
					    <input class="uk-input" type="text" placeholder="Email">
					</div>
				</div>
			</div>
				<div class="uk-margin">
			        <label class="uk-form-label" for="form-select">Course</label>
					<select id="course-options" class="uk-select">
		                <option></option>
		            </select>
			    </div>
	        <p class="uk-text-right">
	            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
	            <button class="uk-button uk-button-primary" type="button">Enroll</button>
	        </p>
        </form>
    </div>
</div>

<script>
	$(document).ready(function() {
		if(target) {
			var index = $('#switcher li').index( $('#' + target) );
			// alert(index);
			$('#switcher-nav li').removeClass('uk-active');
			// UIkit.scroll('#content').scrollTo('#');
			$('#switcher-nav li').eq(index).addClass('uk-active');
			UIkit.switcher('#switcher').show(index);
		}
		$(".application-link").click(function() {
			var course = $(this).parent("td").siblings().eq(1).text();
			// alert(course);
			var option = '<option value="' + kebabCase(course) + '" selected>' + course + '</option>';
			$("#course-options").append(option);
		});
		$("#fixed-button").text("Enroll Now");
		$("#fixed-button").attr("uk-toggle", "target: #application-modal");
		$("#fixed-button").off();
	});
</script>